# Cross Validation K-fold

In [14]:
from sklearn import datasets
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
import pandas as pd
import numpy as np

In [3]:
ds = datasets.load_boston()
print(ds.keys())
filename = ds.filename

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [6]:
boston = pd.read_csv(filename, header=1)
boston.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [7]:
boston.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null int64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null int64
TAX        506 non-null int64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
MEDV       506 non-null float64
dtypes: float64(11), int64(3)
memory usage: 55.4 KB

In [10]:
X = boston.drop('MEDV', axis=1).values
y = boston['MEDV'].values.reshape(-1,1)

In [11]:
reg = LinearRegression()
cv_score = cross_val_score(reg, X, y, cv=5)
print(cv_score)

[ 0.63919994  0.71386698  0.58702344  0.07923081 -0.25294154]

In [15]:
print('Average 5-Fold CV Score: {}'.format(np.mean(cv_score)))

Average 5-Fold CV Score: 0.3532759243958711